body {
    max-width: 100%;
    overflow: hidden;
    background-color: #ff4e00 !important;
    color: #c3c3c3 !important;
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    align-self: center;
    margin: 5px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    padding: 1rem;
    font-size: 3.5rem !important;
    color: azure;
}

h5 {
    font-family: 'Abril Fatface', cursive;
    padding: 1rem;
    color: #808080;
}

.card {
    margin-left: 20px;
}

.btn {
    background-color: #ff6600 !important;
    margin-bottom: 15px;
    position: center;
}